.hero-section {
  display: flex;
  flex-direction: row;
}


.hero-img-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hero-img {
  height: 70%;
  margin: auto;
  width: auto;
}

.hero-contact-container {
  width: 60%;
  height: 100%;
}


.contact-sub-head {
  max-width: 70%;
  text-align: center;
  font-size: 1.5rem;
}

.hero-contact-socials-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 40%;
}

.hero-contact-form-container {
  height: 60%;
  padding: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}


.contact-form {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5% 5%;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;


  .message-box {
    height: 40%;
    flex-direction: column;
    position: relative;
    max-width: 90%;
    width: 90%;
    box-shadow: 0 0 3px #ddd;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;

    label {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0 0 10px;
      width: 100%;
      height: 100%;
      color: #bbb;
      user-select: none;
      transition: 0.5s;
    }

    input {
      min-width: 200px;
      max-width: 90%;
      width: 90%;
      height: 100%;
      padding: 20px 0 5px 10px;
      border: none !important;
      outline: none;
      transition: 0.5s;
      font-size: 1.3rem;

      &:focus+label,
      &:not(:placeholder-shown)+label {
        transform: translateY(-30%);
        font-size: 1rem;
      }

      &:not(:placeholder-shown) {
        border-bottom: 3px solid #00ff0066;
      }
    }
  }


  .box {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    max-width: 90%;
    width: 90%;

    box-shadow: 0 0 3px #ddd;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;

    label {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0 0 10px;
      width: 100%;
      height: 100%;
      color: #bbb;
      user-select: none;
      transition: 0.5s;
    }

    input {
      min-width: 200px;
      max-width: 90%;
      width: 90%;

      padding: 20px 0 5px 10px;
      border: none !important;

      outline: none;
      font-size: 1.3rem;
      transition: 0.5s;

      &:focus+label,
      &:not(:placeholder-shown)+label {
        transform: translateY(-30%);
        font-size: 1rem;
      }

      &:not(:placeholder-shown) {
        border-bottom: 3px solid #00ff0066;
      }
    }
  }
}